/* ===================================== */
/* ==========  Theme Palette  ========== */
/* ===================================== */

$rusty-orange: #E36209;
$slate-grey: #24292E;
$brownish-grey: #666666;
$warm-grey: #999999;
$white: #FFFFFF;
$pale-grey: #E1E4E8;
$white-two: #E3E3E3;
$slate-grey-two: #586069;
$title-repos: #1a90df;